{% extends "main.html" %}

{% block content %}
<section>
    
</section>
<section>
    {% if products %}
    <h1>It's a list of available products. Hope you'll find what you're looking for.</h1>
    <form method="GET">
        <select name="category">
            <option value="">All Categories</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>
    <div class="product-list">
        {% for product in products %}
        <div class="product-item">
            <a href="{% url 'product-view' pk=product.id %}"><h2>{{ product.name }}</h2></a>
            <ul>
                <li>
                    {% if product.discounted_price %}
                    <span class="original-price">Price: {{ product.price }}</span>
                    <span class="discounted-price">{{ product.discounted_price }}</span>
                    {% else %}
                    <span class="price">Price: {{ product.price }}</span>
                    {% endif %}
                </li>
                <li>Added: {{ product.created }}</li>
            </ul>
            {% if request.user.role == 'USER' %}
            <a href="{% url 'user-order' pk=product.id %}" class="buy-button">Buy</a>
            {% endif %}
        </div>
        {% endfor %}
       
    </div>
    {% else %}
        <h1>No products yet...</h1>
        <form method="GET">
        <select name="category">
            <option value="">All Categories</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
        </form>
    {% endif %} 
</section>
{% endblock %}
